%form{:action=>"/cms/#{record.new? ? 'create' : 'update' }", :method=>'post', :enctype=>'multypart/form-date'}
  #edit_bg
    - model = record.class
    - if !record.new?
      %input{:type=>'hidden', :name=> "[#{model}][id]", :value=> record.id}
    - model.fields.each do |key, info|
      - name = "[#{model}][#{key}]"
      - if !["_type", "_id", "created_at", "updated_at", "version", "deleted_at"].include? key
        %label{key: key}
          %a= key
          %p{:style => 'color: red;'}
        - case info.options[:input]
        - when 'input'
          %input{:type=> 'text', :name=> name, :value=> record[key], :class=>"textfield", :type=> "text"}
        - when 'textarea'
          %textarea{:id => key, :name=> name}= record[key]
        - when 'dropdown'
        - when 'image'
          %a.image_select selecteer afbeelding
          %input{:type => 'hidden', :name=> name, :value => ''}
        - when 'images'
        - else
          %label Comming soon
    - if record.new?
      - record.connections.each do |connection|
        %input{:type=> 'hidden', :name=> "[#{record.class}][connections][][id]",      :value => connection.id}
        %input{:type=> 'hidden', :name=> "[#{record.class}][connections][][parent_id]",  :value => connection.parent_id}
        %input{:type=> 'hidden', :name=> "[#{record.class}][connections][][section]", :value => connection.section}
        - if connection.files == nil
          %input{:type=> 'hidden', :name=> "[#{record.class}][connections][][file]", :value => connection.section}
        - elsif connection.files.count == 1
          %input{:type=> 'hidden', :name=> "[#{record.class}][connections][][file]", :value => connection.files.first}
        - elsif connection.files.count > 1
          %select{:name => "[#{record.class}][connections][][file]"}
            - connection.files.each do |file|
              %option{:value => file}= file
